pipeline/PL_CopyOnlineFiles_To_DataLake.json
{
	"name": "PL_CopyOnlineFiles_To_DataLake",
	"properties": {
		"activities": [
			{
				"name": "AC_CopyFiles_FromBlob_toDataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@convertToUtc(activity('LookupOldWaterMarkActivity').output.firstRow.NewWatermarkvalue, 'Belarus Standard Time')",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SRC_Online_BLOB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DST_Online_DataLake",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX([WatermarkValue]) as NewWatermarkvalue from [dbo].[watermarktable]\nwhere [FileValue] = 'JSON-ONLINE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Stg_Movies",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "AC_SP_watermarktable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "AC_CopyFiles_FromBlob_toDataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@convertFromUtc(formatDateTime(utcnow()),'Belarus Standard Time')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"FileValue": {
							"value": "JSON-ONLINE",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-09T10:52:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}